<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Neurnect</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.8.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <!-- ナビゲーションバー -->
      <nav class="navbar navbar-inverse" id="navbar">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Neurnect</a>
        </div>
      </nav>

      <div id="menu">
        <form id="post">
          <label for="form" class="form-label">Form:
            <select id="graphic-form">
              <option value="ellipse">ellipse</option>
              <option value="rect">rect</option>
            </select>
          </label>
          <br>
          <label for="tag-select"class="post-label">Tag:
            <input type="text" id="tag-select" placeholder="タグ">
          </label>
          <label for="uploadtext" class="post-label">Text:100
            <textarea id="uploadtext" rows="3" cols="30" placeholder="メインテキスト" maxlength="100"></textarea>
          </label>
          <input type="button" id="submit" class="submit" value="&#xf044">
        </form>
        <ul>
          <li>
            <a class="menu-button" id="reload">
              <span class="menu-list">
                <span class="menu-icon">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </span>
                <span class="menu-text">reload</span>
              </span>
            </a>
          </li>
          <li>
            <a class="menu-button">
              <span class="menu-list">
                <span class="menu-icon">
                  <i class="fa fa-hashtag" aria-hidden="true"></i>
                </span>
                <span class="menu-text">free</span>
              </span>
            </a>
          </li>
          <li>
            <a class="menu-button">
              <span class="menu-list">
                <span class="menu-icon">
                  <i class="fa fa-comments" aria-hidden="true"></i>
                </span>
                <span class="menu-text">conversation</span>
              </span>
            </a>
          </li>
        </ul>
        <a class="menu-button" id="request-theme" onclick="obj=document.getElementById('theme-post').style; obj.display=(obj.display=='none')?'block':'none';">
          <span class="menu-list">
            <span class="menu-text request-text">
              request theme
            </span>
            <span>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
          </span>
        </a>
        <form id="theme-post" style="display: none;">
          <input type="text" id="request-theme"  placeholder="テーマのリクエスト">
          <input type="button" id="theme-submit" class="submit" value="&#xf044">
        </form>
        <a class="title" href="">
          <img class="logo" src="./image/Neurnect_logo.png" alt="Neurnect" />
        </a>
      </div>

      <!-- 描画コンテナ -->
      <div class="col-sm-12" id="container"></div>

    <script type="text/ecmascript" src="/js/model.normal.js"></script>
    <script type="text/ecmascript" src="/js/view.field.js"></script>
    <script type="text/ecmascript" src="/js/view.normal.object.js"></script>
    <script type="text/ecmascript" src="/js/model.normal.tag.js"></script>
    <script type="text/ecmascript" src="/js/model.category.js"></script>
    <script type="text/ecmascript" src="/js/model.conversation.js"></script>
    <script type="text/ecmascript" src="/js/view.conversation.js"></script>
    <script type="text/ecmascript" src="/js/typical.js"></script>
    <script type="text/ecmascript" src="/js/event.js"></script>
    <script type="text/ecmascript" src="/js/main.js"></script>
  </body>
</html>
