{
  "extends": ["eslint:recommended"],
  "rules": {
    "no-console": 0,
    "semi": "error",
    // 未定義を警告レベルに
    "no-unused-vars": [1, {"vars" : "all", "args" : "after-used"} ]
  },
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true,
    "node": true,
  },
  "globals": {
    "io": true,
    "Typical": true,
    "Normal": true,
    "Normal_Tag": true,
    "Normal_View": true,
    "Normal_Object": true,
    "Conversation": true,
    "Conversation_View": true,
    "Field": true,
    "Category": true,
    "PIXI": true,
    "RENDERER_STYLE": true,
    "ELLIPSE": true,
    "RECT": true,
    "NORMAL": true,
    "CONVERSATION": true
  }
}
