<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BBS</title>
  </head>
  <body>
    <ul>
      <li><%= send_data[0][0] %> - <%= send_data[0][1] %></li>
    </ul>
  </body>
</html>
