<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>BBS</title>
  </head>
  <body>
    <ul>
      <% for(var i in send_data){ %>
        <li><%= send_data[i][0] %> - <%= send_data[i][1] %></li>
      <% } %>
    </ul>
  </body>
</html>
